# dependencies
/node_modules
/.pnp
.pnp.*

# tests and browser artifacts
/coverage
/output
/test-results
/.playwright-cli

# next.js
/.next/
/out/

# production
/build

# local files
.DS_Store
*.pem
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo

VFX Free Pack